* {
    text-align: center;
    color: white;
    background-color: black;
}

header{
    background-color:darkgrey;
    padding: 100px 0px 0px 0px;

}

div{
    background-color: white;
    padding: 50px 100px 50px 100px;
}

h1, p{
    background-color: white;
    color: black;
}

footer{
    background-color:darkgrey;
    padding: 100px 0px 0px 0px;
}